/**
 * @file
 * Primary appearance styling.
 */

/** Styling for page.tpl.php elements **/

body {
  background: #fff;
  color: #000;
}

#section-main {
  margin: 0 0.3125em;
}

#section-header {
  padding: 0;
}

form#search-theme-form {
  float: right;
  margin: 0;
}

#edit-search-theme-form-1-wrapper label {
  display: none;
}

h1#site-name {
  margin: 0;
}

#site-name a {
  border-bottom: none;
  background: url(../images/bg.jpg) 9999px -115px no-repeat #000;
  display: block;
  margin-left: -9999px;
  min-height: 140px;
}

#section-navigation {
  padding: 0;
}

#content-inner {
  padding: 0 0 1.5em;
}

#sidebar-first {
}

.region-sidebar-first {
  margin: 0 0 0.512em;
  padding: 0 0.512em 0.512em;
}

#sidebar-second {
}

.region-sidebar-second {
  margin: 0 0 0.512em;
  padding: 0 0.512em 0.512em;
}

#section-footer {
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
  padding: 0 0 1.875em;
  text-align: center;
}

#section-footer a {
  color: #777;
}

/** Styling for blocks **/

/* Apply specific formatting for a menu called "footer links" */

#block-menu-menu-footer-links ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#block-menu-menu-footer-links ul li {
  display: inline;
  margin: 0;
  padding: 0 2px;
}

#block-menu-menu-footer-links a {
  color: #444;
  font-size: 11px;
  font-weight: normal;
  text-decoration: underline;
}

/** Styling for nodes **/

.node .submitted {
  font-style: italic;
  margin: 0 0 0.625em;
}

div.field-label-inline {
  margin: 0 0 1.625em;
}

/** Media Queries **/

@media only screen and (min-width: 768px) {

  #content-inner {
    padding: 0 0.625em 1.5em;
  }
}

@media only screen and (min-width: 1600px) {

  #section-main {
    margin: 0 auto;
    max-width: 1600px;
  }
}
