/**
 * @file
 * Styling for main navigation.
 */

ul.primary-links {
  font-size: 1.25em; /* 17.500px */
  line-height: 1.2em;
  margin: 0;
  padding: 0.6em 0;
}

ul.primary-links li {
  display: block;
  padding: 0.2em 0.4em;
  text-align: left;
}

ul.primary-links a {
  padding: 0.41em 0.512em;
  text-decoration: none;
}

ul.primary-links a:hover { }

ul.secondary-links {
  line-height: 1.5em;
  margin: 0;
  padding: 0.25em 0; /* todo: test these values */
  text-align: right;
}

ul.secondary-links li { }

ul.secondary-links a { }

@media only screen and (min-width: 500px) {

  ul.primary-links {
    text-align: center;
  }
  ul.primary-links > li {
    display: inline-block;
    text-align: center;
  }
}
