/**
 * @file
 * This file contains overrides for print media.
 */

* {
  background: transparent !important;
  color: black !important; /* Black prints faster: sanbeiji.com/archives/953 */
  text-shadow: none !important;
  filter: none !important;
  -ms-filter: none !important;
}

.sidebar,
#section-navigation,
#search-theme-form,
#section-footer,
.region-header,
.breadcrumb,
.tabs,
.feed-icon
.links {
  display: none;
}

@page {
  margin: 0.5cm;
}

#page {
  width: 100%;
}

#section-header {
  background-color: transparent;
}

#content,
#content #content-inner,
.content,
.title {
  margin: 1.625em 0;
  width: auto;
}

a, a:link, a:visited {
 color: #000;
 text-decoration: underline;
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/* Printing Tables: css-discuss.incutio.com/wiki/Printing_Tables */
thead {
  display: table-header-group;
}

tr, img {
  page-break-inside: avoid;
}

p, h2, h3 {
  orphans: 3;
  widows: 3;
}

h2, h3 {
  page-break-after: avoid;
}
